.back-to-school-cursoul{
    width: 1400px;
    height: 500px;
    margin: auto;
    cursor: pointer;
    border-radius: 40px;
    padding: 30px;
}
.back-to-school-cursoul:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

.cib-cursoul{
    width: 1400px;
    height: 500px;
    margin: auto;
    cursor: pointer;
    border-radius: 40px;
    padding: 30px;
}
.cib-cursoul:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.book-cursoul{
    width: 1400px;
    height: 500px;
    margin: auto;
    cursor: pointer;
    border-radius: 40px;
    padding: 30px;
}
.book-cursoul:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.jkl:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.home{
    background-color: #c9cfd7;
}
.title-card{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.border-of-card{
 border-radius: 15px;
}
.egb-size{
    font-size:11px;
    margin-right: 3px;
}